<div class="jumbotron">
    <h1 class="title"><span class="large">U-Job</span></h1>
    <h3 class="slogan">

    <br>
    <br>
    自带信息
    <br>
    不装系统
    <br>
    随时插拔
    <br>
    自由协作
    </h3>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">鸡不可失</a></p>
</div>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fbymbz24prj30500503ya.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>首先你得是个牛人</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fbym61ilbxj3050050t8i.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>让我们把后背给你</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006y8lVagy1fbymfalul9j3050050dfm.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>定义问题解决问题</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
